<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Reservations</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <h1>Restaurant Reservations</h1>

        <form method="get"  action="">
            <label for="filter-date">Select Date:</label>
            <input type="date" id="filter-date" name="date" value="{{request.get.date}}">
            <button type="submit"> Filter</button>
        </form>


        <div class="table-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Table Number</th>
                    <th>Date</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                    <th>Contact Number</th>
                    <th>Booking Status</th>
                    <th>Action</th>
                </tr>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.customer_name }}</td>
                    <td>{{ reservation.table.id }}</td>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.arrival_time }}</td>
                    <td>{{ reservation.departure_time }}</td>
                    <td>{{ reservation.contact_number }}</td>
                    <td>{{ reservation.booking_status }}</td>
                    <td>
                        <button onclick="deleteReservation({{ reservation.id }})">Delete</button>

                        <script>
                            function deleteReservation(id) {
                                if (confirm('Are you sure you want to delete this reservation?')) {
                                fetch(`/reservation-delete/${parseInt(id)}/`, {
                                    method: 'GET',
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if(data.status){
                                        alert(data.message);
                                        location.reload();
                                    }else{
                                        alert("Error while deleting reservation!");
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    alert('An error occurred while deleting the reservation');
                                });
                                }
                            }
                        </script>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No reservations found for this date.</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>
